<h1>All Quotes</h1>

<ul>
  <% quotes.forEach((quote) => { %>
    <li>
      <a href="/quotes/<%= quote._id %>">
        <%= quote.text %> — <%= quote.author %>
        <% if (quote.year) { %> — <%= quote.year %> <% } %>
        <% if (quote.location) { %> — <%= quote.location %> <% } %>
      </a>
    </li>
  <% }) %>
</ul>

<a href="/quotes/new">Add a New Quote</a>
